:root {
  --main-color: rgb(167, 141, 30);
  --color: rgb(61, 192, 176);
  --nav-bg-color: rgba(255, 255, 255, 0.767);
  --white-color: rgb(255, 255, 255);
  --width: 100%;
  --height: 100%;
}

/*------ Body ---------*/
body, html {
  width: var(--width);
  position: relative;
  height: var(--height);
  margin: 0;
  padding: 0;
  scroll-behavior: smooth; /* Added this for smooth scrolling */
}

/*------------ NavBar ------------*/
.container {
  display: none;
  cursor: pointer;
  position: fixed;
  background-color: var(--nav-bg-color);
  width: var(--width);
  z-index: 1001;
}
.bar1, .bar2, .bar3 {
  width: 35px;
  height: 5px;
  background-color: #333;
  margin: 6px 2px 2px 15px;
  transition: 0.4s;
}
.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}
.change .bar2 {
 opacity: 0;
}
.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}
.navbar {
  list-style-type: none;
  margin: 0;
  padding: 0.5rem 1rem;
  position: fixed;
  display: inline-flex;
  width: var(--width);
  background-color: var(--nav-bg-color);
  z-index: 1000; /* For stacking */
}
/* navbar links hover */
li a:hover {
  color: var(--color);
  border-radius: 10px;
  border: 0.05rem solid var(--main-color);
  padding: 0.4rem 0.9rem;
}
/* -------- NavBar for desktop / tab --------- */
/*------------- Main intro ---------------*/
#main {
  padding-top: 8rem;
}
.intro {
  font-family: "Alegreya Sans", sans-serif;
  color: var(--main-color);
  text-align: center;
  height: var(--height);
  width: var(--width);
  overflow: hidden;
}
h1 {
  font-size: 2rem;
}
/* Heading */
.intro > h2 {
  color: var(--color);
  font-size: 2.5rem;
}
.intro > p {
  font-size: 1.4rem;
  margin-left: 8%;
  margin-right: 8%;
}
/* -------------- Skills -------------- */
.skills {
  text-align: center;
  height: var(--height);
  margin-left: 10px;
  margin-right: 10px;
}
.skills > span {
  color: var(--white-color);
  background-color: var(--color);
  margin: 1rem;
  padding: 0.5rem;
  width: 6rem;
  border-radius: 4px;
  display: inline-block;
  animation-name: pop-up-skills;
  animation-duration: 3s;
}
@keyframes pop-up-skills {
  0% {
    margin-bottom: 150px;
    color: transparent;
    padding: 0px;
  }
  50% {
    margin-top: 100px;
    color: rgb(112, 110, 110);
  }
  100% {
    color: rgb(192, 187, 187);
  }
}


/* -------------- Projects -------------- */
.projects {
  background-color: var(--white-color);
  text-align: center;
  padding: 1rem;
}
/*------------- Project ---------------*/
.project-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.project {
  background-image: linear-gradient(141deg, #6cc7a0 0%, #1fc8db 51%, #2cb5e8 75%);
  height: 290px;
  width: 35%;
  border-radius: 2px;
  box-shadow: 2px 2px 2px 2px rgb(153, 128, 128);
  animation-name: pop-up-project;
  animation-duration: 3s;
}
.project:hover {
  box-shadow: 4px 4px 4px 2px rgb(153, 128, 128);
}
@keyframes pop-up-project {
  0% {
    transform: scale(0.2);
  }
  50% {   
    transform: scale(0.8);
  }
  100% {
    transform: scale(1);
  }
}
h3 {
  color: var(--white-color);
}
h2 {
  color: var(--color);
  font-size: 30pt;
}
.projText {
  color: var(--white-color);
  font-size: 1rem;
}
/*----------- Transition effect --------------*/
.prj {
  background-color: transparent;
  width: 300px;
  height: 200px;
  perspective: 1000px;
}
/* position the front and back side */
.prj {
  position: relative;
  width: var(--width);
  height: var(--height);
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}
/* Flip when you move the mouse over the flip box container */
.project:hover .prj {
  transform: rotateY(180deg);
}
/* Position the front and back side */
.project-front, .project-back {
  position: absolute;
  width: var(--width);
  height: var(--height);
  backface-visibility: hidden;
}
/* Style the back side */
.project-back {
  background-color: rgb(123, 126, 129);
  color: var(--white-color);;
  border-radius: 4px;
  transform: rotateY(180deg);
}
/* -------------- Buttons --------------- */
.btn {
  color: var(--white-color);
  cursor: pointer;
  background-color: rgb(2, 2, 2);
  padding: 2px;
  border-radius: 4px;
  text-decoration: none;
}
.btn:hover {
  background-color: transparent;
  border: 0.6px solid black;
}
/* BUtton 2 (LIVE) */
.btn2 {
  color: var(--white-color);
  font-weight: bold;
  cursor: pointer;
  padding: 2px;
  border-radius: 2px;
  text-decoration: none;
  margin-left: 4px;
}
.btn2:hover {
  color: rgba(255, 0, 0, 0.815);
}
/*----------- Contact -------------*/
#contact {
  margin: 4em 0 6em 0;
  text-align: center;
}

#name-field {
  padding: 0.4rem;
  margin: 0.5rem;
  border-radius: 4px;
}

#email-field {
  padding: 0.4rem;
  margin: 0.5rem;
  border-radius: 4px;
}

#message-field {
  padding: 0.4rem;
  margin: 0.5rem;
  border-radius: 4px;
}

#submit-btn {
  color: var(--main-color);
  background-color: transparent;
  border-color: var(--main-color);
  border-radius: 0.4rem;
}
#submit-btn:hover {
  color: var(--color);
  border-color: var(--color);
  cursor: pointer;
}

/* 2nd heading */
.cont-h {
  text-align: center;
  color: var(--main-color);
}
/* paragraph */
.cont-p {
  text-align: center;
  color: var(--main-color);
}
.form-container {
  text-align: center;
}

/*----------- Footer -------------*/
.social-links {
  text-align: center;
  height: 30px;
  width: var(--width);
}
.link {
  background-color: var(--white-color);
  color: var(--main-color);;
  border: 1px solid #00ffff;
  border-radius: 360px;
  margin: 0.3rem;
  padding: 0.5rem;
  text-decoration: none;
}
.link:hover {
  color: cyan;
  background-color: var(--white-color);
}
#footerText {
  color: var(--white-color);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12pt;
  line-height: 18px;
  background: rgb(47, 39, 39);
  text-align: center;
  padding: 0.5rem;
  margin-top: 0.3rem;
}
/*------------------ Media queries -------------------*/
/* Only for Navbar */
@media screen and (max-width: 1636px) {
  /*-------- Navbar ---------*/
  li a {
      font-size: 1.2rem;
      display: block;
      color: var(--main-color);
      float: left;
      text-align: center;
      padding: 0.5rem 1rem;
      text-decoration: none;
      margin: 2px;
 }
 /* These are defined just for replace the default styles of browser */
  ul, menu, dir {
      display: block;
      list-style-type: none;
      margin-block-start: 0;
      margin-block-end: 0;
      margin-inline-start: 0;
      margin-inline-end: 0;
      padding-inline-start: 0;
 }
}
/* Big screen */
@media screen and (min-width: 980px) {
  img {
      height: 190px;
      width: 322px;
 }
  .project {
      margin: 60px;
 }
}
/*------------ Break point ------------*/
@media screen and (max-width: 979px) {
  img {
      height: 180px;
      width: 310px;
 }
  .project {
      height: 280px;
      width: 35%;
      margin: 60px;
 }
}
/* Width 940px */
@media screen and (max-width: 940px) {
  img {
      height: 160px;
      width: 280px;
 }
  .project {
      height: 260px;
      width: 35%;
 }
}
/* Laptop/desktop screen */
@media screen and (max-width: 900px) {
  img {
      height: 150px;
      width: 250px;
 }
  .project {
      height: 235px;
      width: 35%;
      margin: 60px;
 }
  h2 {
      font-size: 25pt;
 }
  h3 {
      font-size: 12pt;
 }
}
/* -------- width 780 -------- */
@media screen and (max-width: 780px) {
  img {
      height: 130px;
      width: 220px;
 }
  .project {
      height: 220px;
      width: 35%;
      margin: 40px;
 }
}
/* -------- width 750 -------- */
@media screen and (max-width: 750px) {
  img {
      height: 120px;
      width: 200px;
 }
  .project {
      height: 205px;
      width: 35%;
      margin: 40px;
 }
}
/* ------- width 620 -------- */
@media screen and (max-width: 620px) {
  img {
      height: 100px;
      width: 180px;
 }
  .project {
      height: 190px;
      width: 35%;
 }
}
/* media query for Hamburger */
@media screen and (max-width: 575px) {
  #nav-container {
    text-align: center;
 }
  .container {
      display: inline-block;
 }
  .navbar {
      display: none;
 }
 /* Mobile view id */
  .nav {
      width: var(--width);
      list-style-type: none;
      margin: 0;
      padding: 0;
      display: grid;
      position: fixed;
      background-color: var(--nav-bg-color);
 }
  li a {
      font-size: 1.2rem;
      display: block;
      color: var(--main-color);
      float: none;
      text-align: center;
      padding: 10px;
      text-decoration: none;
      margin: 2px;
 }
 /* navbar links hover */
  li a:hover {
      color: var(--color);
      border-radius: 0;
      border: none;
      padding: 10px;
 }
}
/* ------- width 560 -------- */
@media screen and (max-width: 560px) {
  img {
      height: 95px;
      width: 170px;
 }
  .project {
      height: 180px;
      width: 35%;
 }
}
/* ------- width 526 -------- */
@media screen and (max-width: 526px) {
  img {
      height: 90px;
      width: 160px;
 }
  .project {
      height: 175px;
      width: 35%;
 }
}
/* ------- width 480 -------- */
@media screen and (max-width: 480px) {
  img {
      height: 95px;
      width: 150px;
 }
  .project {
      height: 180px;
      width: 35%;
 }
}
/* ------- width 471 -------- */
@media screen and (max-width: 471px) {
  img {
      height: 80px;
      width: 140px;
 }
  .project {
      height: 185px;
      width: 50%;
 }
}
/* ------- width 440 -------- */
@media screen and (max-width: 440px) {
  img {
      height: 80px;
      width: 130px;
 }
  .project {
      height: 185px;
 }
  h1 {
      font-size: 1.8rem;
 }
  .intro > h2 {
      font-size: 2.2rem;
 }
  .intro > p {
      font-size: 1.3rem;
      margin-left: 5%;
      margin-right: 5%;
 }
}
@media screen and (max-width: 420px) {
  .intro > p {
      font-size: 1.2rem;
      margin-left: 4%;
      margin-right: 4%;
 }
  img {
      height: 100px;
      width: 180px;
 }
  .container {
      display: row;
      columns: auto auto auto auto;
 }
  .project {
      height: 192px;
      width: 60%;
      margin: 1rem;
 }
  h3 {
      font-size: 12pt;
 }
  .btn {
      font-size: 10pt;
 }
}
@media screen and (max-width: 320px) {
  img {
      height: 46%;
      width: 90%;
 }
  .project {
      max-height: 192px;
      min-height: 182px;
      width: 60%;
      margin: 1rem;
 }
  h3 {
      font-size: 10pt;
 }
  .intro > p {
      font-size: 12pt;
      font-weight: 1px;
 }
}