/*------------- Experiment Ground ---------*/

/*--- Note: this is for experiment some features  ---*/

/*------------ NavBa ------------*/

#nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li a {
  font-size: 1.2em;
  display: block;
  color: rgb(167, 141, 30);
  float: left;
  text-align: center;
  padding: 16px;
  text-decoration: none;
  margin: 2px;
}

/* navbar links hover */
li a:hover {
  color: rgb(61, 192, 176);
  border-radius: 10px;
  border: 1px solid rgb(167, 141, 30);
  padding: 15px;
}


/*------------- Main intro ---------------*/

.intro {
  font-family:  "Alegreya Sans", sans-serif;
  color: white;/*temp rgb(167, 141, 30);*/
  text-align: center;
  height: 100%;
  width: 100%;
  overflow: hidden;
  background-color: rgb(143, 3, 3);/*temp*/
}

h1 {
  font-size: 2em;
}

/*  Heading  */

.intro > h2 {
  color: rgb(61, 192, 176);
  font-size: 2.5em;
}

.intro > p {
  font-size: 1.4em;
  margin-left: 8%;
  margin-right: 8%;
}
/* --------------   Skills   -------------- */

.skills {
  text-align: center;
  height: 100%;
  margin-left: 10px;
  margin-right: 10px;
}

.skills > span {
  color: rgb(255, 255, 255);
  background-color: rgb(61, 192, 176);
  margin: 1em;
  padding: 0.5em;
  width: 6em;
  border-radius: 4px;
  display: inline-block;
}

/* --------------  Projects  -------------- */

.projects {
  background-color: #ffffff;
  text-align: center; 
  padding: 1em;
}


/*-------------  Project  ---------------*/

.project-container {
  display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
}

.project {
  /*background-color: rgb(61, 192, 176);*/
  background-image: linear-gradient(141deg, #6cc7a0 0%, #1fc8db 51%, #2cb5e8 75%);
  height: 290px;
  width: 35%;
  border-radius: 2px;
  box-shadow: 2px 2px 2px 2px rgb(153, 128, 128);
}

.project:hover {
  box-shadow: 4px 4px 4px 2px rgb(153, 128, 128);
}

h3 {
  color: rgb(255, 255, 255);
}

h2 {
  color: rgb(61, 192, 176);
  font-size: 30pt;
}

.projText {
  color: white;
  font-size: 1em;
}

/*----------- Transition effect  --------------*/
.prj {
  background-color: transparent;
  width: 300px;
  height: 200px;
  perspective: 1000px;
}

/* position the front and back side */
.prj {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Flip when you move the mouse over the flip box container */
.project:hover .prj {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.project-front, .project-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

/* Style the back side */
.project-back {
  background-color: rgb(123, 126, 129);
  color: white;
  border-radius: 4px;
  transform: rotateY(180deg);
}

/*Figcaption Testing*/



/* -------------- Buttons --------------- */

.btn {
  color: white;
  cursor: pointer;
  background-color: rgb(2, 2, 2);
  padding: 2px;
  border-radius: 4px;
  text-decoration: none;
}
.btn:hover {
  background-color: transparent;
  border: 0.6px solid black;
}

/*  BUtton 2 (LIVE)  */
.btn2 {
  color: white;
  font-weight: bold;
  cursor: pointer;
  padding: 2px;
  border-radius: 2px;
  text-decoration: none;
  margin-left: 4px;
}
.btn2:hover {
  color: rgba(255, 0, 0, 0.815);
}


/*----------- Footer -------------*/

.social-links {
  text-align: center;
  height: 30px;
  width: 100%;
}

.link {
  background-color: white;
  color: rgb(167, 141, 30);
  border: 1px solid #00ffff;
  border-radius: 360px;
  margin: 16px;
  padding: 10px;
  text-decoration: none;
}

.link:hover {
  color: cyan;
  background-color: white;
}

#footerText {
  color: white;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 12pt;
  line-height: 18px;
  background: rgb(47, 39, 39);
  text-align: center;
  padding: 8px;
  margin-top: 8px;
}

/*------------------ Media queries -------------------*/



/*                 Big screen              */
@media only screen and (min-width: 980px) {
  img {
    height: 190px;
    width: 322px;
  }
  .project {
    margin: 60px;
  }
}

/*------------ Break point ------------*/
@media only screen and (max-width: 979px) {
  img {
    height: 180px;
    width: 310px;
  }
  .project {
    height: 280px;
    width: 35%;
    margin: 60px;
  }
}

/*        Width 940px         */
@media only screen and (max-width: 940px) {
  img {
    height: 160px;
    width: 280px;
  }
  .project {
    height: 260px;
    width: 35%;
  }
}

/*        Laptop/desktop screen        */
@media only screen and (max-width: 900px) {
  img {
    height: 150px;
    width: 250px;
  }
  .project {
    height: 235px;
    width: 35%;
    margin: 60px;
  }
  h2 {
    font-size: 25pt;
  }
  h3 {
    font-size: 12pt;
  }
}

/* -------- width 780 -------- */
@media only screen and (max-width: 780px) {
  img {
    height: 130px;
    width: 220px;
  }
  .project {
    height: 220px;
    width: 35%;
    margin: 40px;
  }
}

/* -------- width 750 -------- */
@media only screen and (max-width: 750px) {
  img {
    height: 120px;
    width: 200px;
  }
  .project {
    height: 205px;
    width: 35%;
    margin: 40px;
  }
}

/* ------- width 620 -------- */
@media only screen and (max-width: 620px) {
  img {
    height: 100px;
    width: 180px;
  }
 .project {
    height: 190px;
    width: 35%;
 }
}

/* ------- width 560 -------- */
@media only screen and (max-width: 560px) {
  img {
    height: 95px;
    width: 170px;
  }
 .project {
    height: 180px;
    width: 35%;
 }
}

/* ------- width 526 -------- */
@media only screen and (max-width: 526px) {
  img {
    height: 90px;
    width: 160px;
  }
 .project {
    height: 175px;
    width: 35%;
 }
}

/* ------- width 480 -------- */
@media only screen and (max-width: 480px) {
  img {
    height: 95px;
    width: 150px;
  }
 .project {
    height: 180px;
    width: 35%;
 }
}

/* ------- width 471 -------- */
@media only screen and (max-width: 471px) {
  img {
    height: 80px;
    width: 140px;
  }
 .project {
    height: 185px;
 }
}

/* ------- width 440 -------- */
@media only screen and (max-width: 440px) {
  img {
    height: 80px;
    width: 130px;
  }
 .project {
    height: 185px;
 }
}
@media only screen and (max-width: 420px) {
  img {
    height: 100px;
    width: 180px;
  }
  .container {
    display: row;
    columns: auto auto auto auto;
  }
  .project {
    height: 180px;
    width: 60%;
    margin: 1em;
  }
  h3 {
    font-size: 12pt;
  }
  .btn {
    font-size: 10pt;
  }
}
@media only screen and (max-width: 320px) {
  img {
    height: 100px;
    width: 160px;
  }
  .project {
    height: 170px;
    width: 60%;
    margin: 1em;
  }
  h3 {
    font-size: 10pt;
  }
  .intro > p {
    font-size: 12pt;
    font-weight: 1px;
  }
}